@use "../mixins" as m;

.followers {
  flex: 1;
  padding: 2rem;
  position: relative;
  height: 30rem;
  background-color: #fff;
  border-radius: 5px;
  border-top-left-radius: 0;
  width: 100%;
  &::before {
    content: "Followers";
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateY(-100%);
    padding: 0.75rem 1.5rem;
    letter-spacing: 1.5px;
    font-size: 1.75rem;
    background-color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.followers-container {
  max-height: 26rem;
  overflow-y: auto;
  .follower {
    margin-bottom: 2rem;
    @include m.flex($justify: normal);
    img {
      width: 5rem;
      border-radius: 50%;
    }
  }
}

.follower-username {
  margin-left: 2rem;
  p {
    margin: 0;
    font-size: 1.65rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
  a {
    font-size: 1.5rem;
    color: #2caeba;
  }
}
