.charts-container {
  display: flex;
  margin-top: 5rem;
  width: 100%;
  &:last-child {
    margin-bottom: 5rem;
  }
}

.pie-container,
.doughnut-container {
  flex: 1.5;
  margin-right: 5rem;
  div,
  svg {
    border-radius: 5px;
    width: 100% !important;
  }
}
.column-container,
.bar-container {
  flex: 3;
  div,
  svg {
    border-radius: 5px;
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .charts-container {
    flex-direction: column;
    gap: 5rem;
  }
  .pie-container,
  .doughnut-container {
    width: 100%;
  }
}
