@use "../mixins" as m;

.user-info {
  @include m.flex();
  flex-wrap: wrap;
  .info-container {
    font-size: 2.25rem;
    background-color: #fff;
    flex: 1;
    min-width: 21.5rem;
    height: 12rem;
    border-radius: 5px;
    @include m.flex($justify: center);
    font-weight: 600;
    &:not(:last-child) {
      margin-right: 4rem;
    }
    span {
      opacity: 0.7;
      font-size: 1.75rem;
      font-weight: 400;
    }
  }
}

.stats-icon {
  padding: 0.75rem;
  width: 5.75rem;
  height: auto;
  border-radius: 1rem;
  margin-right: 2rem;
  &.pink {
    background: #ffe0f0;
    color: #da4a91;
  }
  &.green {
    color: #2caeba;
    background: #e0fcff;
  }
  &.purple {
    background: #e6e6ff;
    color: #5d55fa;
  }
  &.orange {
    background: #fffbea;
    color: #f0b429;
  }
}

@media (max-width: 1036px) {
  .user-info {
    gap: 1rem;
    .info-container {
      margin: 0 !important;
    }
  }
}

@media (max-width: 721px) {
  .info-container {
    padding: 0 2rem !important;
    justify-content: flex-start !important;
  }
}
