.login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #2caeba;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  h1 {
    font-size: 3.5rem;
    letter-spacing: 0.5px;
    margin: 0;
    margin-bottom: 4.5rem;
  }
  .circle-container {
    width: 55rem;
    height: auto;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

#green {
  animation: green 1s ease-in-out infinite alternate;
  animation-delay: 1s;
}
#blue {
  animation: blue 1s ease-in-out infinite alternate;
  animation-delay: 1s;
}
#yellow {
  animation: yellow 1s ease-in-out infinite alternate;
}
#purple {
  animation: purple 1s ease-in-out infinite alternate;
}

@keyframes green {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1rem, -1rem);
  }
}
@keyframes blue {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-1rem);
  }
}
@keyframes yellow {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-0.5rem, 1rem);
  }
}
@keyframes purple {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1rem, 1rem);
  }
}
